# Bonus: Temperature Analysis I

In [20]:
import pandas as pd
from datetime import datetime as dt

In [21]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01   2.0  18.3
1  USC00519397  2010-01-02   0.0  17.2
2  USC00519397  2010-01-03   0.0  23.3
3  USC00519397  2010-01-04   0.0  24.4
4  USC00519397  2010-01-06   NaN  22.8

In [22]:
# Convert the date column format from string to datetime
df["date"]= pd.to_datetime(df["date"],  format="%Y-%m-%d")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 611.1+ KB

In [23]:
# Set the date column as the DataFrame index
df.set_index(df["date"], inplace=True)
df

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01   2.0  18.3
2010-01-02  USC00519397 2010-01-02   0.0  17.2
2010-01-03  USC00519397 2010-01-03   0.0  23.3
2010-01-04  USC00519397 2010-01-04   0.0  24.4
2010-01-06  USC00519397 2010-01-06   NaN  22.8
...                 ...        ...   ...   ...
2017-08-19  USC00516128 2017-08-19   2.3  21.7
2017-08-20  USC00516128 2017-08-20   NaN  25.6
2017-08-21  USC00516128 2017-08-21  14.2  24.4
2017-08-22  USC00516128 2017-08-22  12.7  24.4
2017-08-23  USC00516128 2017-08-23  11.4  24.4

[19550 rows x 4 columns]

In [24]:
# Drop the date column
df.drop(columns=["date"], inplace=True)
df

                station  prcp  tobs
date
2010-01-01  USC00519397   2.0  18.3
2010-01-02  USC00519397   0.0  17.2
2010-01-03  USC00519397   0.0  23.3
2010-01-04  USC00519397   0.0  24.4
2010-01-06  USC00519397   NaN  22.8
...                 ...   ...   ...
2017-08-19  USC00516128   2.3  21.7
2017-08-20  USC00516128   NaN  25.6
2017-08-21  USC00516128  14.2  24.4
2017-08-22  USC00516128  12.7  24.4
2017-08-23  USC00516128  11.4  24.4

[19550 rows x 3 columns]

### Compare June and December data across all years

In [25]:
from scipy import stats

In [26]:
# Filter data for desired months
june = df[df.index.month == 6]
december = df[df.index.month == 12]

In [27]:
# Identify the average temperature for June
june_temp_avg=june["tobs"].mean()
june_temp_avg

23.857705882352942

In [28]:
# Identify the average temperature for December
dec_temp_avg=december["tobs"].mean()
dec_temp_avg

21.690507580751483

In [29]:
# Create collections of temperature data
june.describe()

              prcp         tobs
count  1574.000000  1700.000000
mean      3.467408    23.857706
std       8.525801     1.811501
min       0.000000    17.800000
25%       0.000000    22.800000
50%       0.500000    23.900000
75%       3.000000    25.000000
max     112.500000    29.400000

In [30]:
december.describe()

              prcp         tobs
count  1405.000000  1517.000000
mean      5.510534    21.690508
std      13.750223     2.079280
min       0.000000    13.300000
25%       0.000000    20.600000
50%       0.800000    21.700000
75%       3.800000    23.300000
max     163.100000    28.300000

In [31]:
# Run paired t-test
stats.ttest_1samp(june["tobs"], df["tobs"].mean())

Ttest_1sampResult(statistic=23.343121380619586, pvalue=9.223949759755368e-105)

In [32]:
stats.ttest_1samp(december["tobs"], df["tobs"].mean())

Ttest_1sampResult(statistic=-21.384424929577595, pvalue=6.962244525860021e-89)

### Analysis

Both tests shows high p-values, which indicate that the evidence is not strong enough to suggest an effect exists in the population.
Can be said that the difference in means are not statistically significant.
I used a paired t-test as it is designed to compare the means of the same group or item under two separate scenarios.